<%= form_with(model: candidatura) do |form| %>
  <% if candidatura.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(candidatura.errors.count, "error") %> prohibited this candidatura from being saved:</h2>

      <ul>
        <% candidatura.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mensagem, style: "display: block" %>
    <%= form.text_area :mensagem %>
  </div>

  <div>
    <%= form.label :candidato_id %>
    <%= form.collection_select(:candidato_id, Candidato.all, :id, :nome, {:selected => @candidatura.candidato_id})%>
  </div>

  <div>
    <%= form.label :vaga_de_emprego_id, style: "display: block" %>
    <%= form.select :vaga_de_emprego_id, options_for_select(VagaDeEmprego.all.map{ |v| [v.titulo, v.id] }) %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
