<div id="<%= dom_id vaga_de_emprego %>">
  <p>
    <strong>Titulo:</strong>
    <%= vaga_de_emprego.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= vaga_de_emprego.descricao %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= vaga_de_emprego.salario %>
  </p>

  <p>
    <strong>Nome da Empresa:</strong>
    <%empregador = Empregador.find(vaga_de_emprego.empregador_id) %>
    <%= empregador.nomeEmpresa%>
  </p>





</div>
