<p style="color: green"><%= notice %></p>

<%= render @vaga_de_emprego %>

<div>
  <%= link_to "Edit this vaga de emprego", edit_vaga_de_emprego_path(@vaga_de_emprego) %> |
  <%= link_to "Back to vaga de empregos", vaga_de_empregos_path %>

  <%= button_to "Destroy this vaga de emprego", @vaga_de_emprego, method: :delete %>
</div>
