<!DOCTYPE HTML>
<html lang=“pt-br”>
<head>
  <meta charset=“utf-8”/>
  <meta content=“width=device-width, initial-scale=1, maximum-scale=1” name=“viewport”>
  <title>Título da Página</title>

</head>
<body>

<div class="container col-6">




</div>

<div class="card" style="width: 15rem;">
  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/48/48749.png" class="card-img-top" alt="Imagem aleatória">
  </a>
  <div class="card-body">
    <h5 class="card-title">Candidatos</h5>
    <p class="card-text">Faça o cadastro dos seus dados e crie seu currículo</p>
    <%= link_to 'Candidatos',  candidatos_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>


<div class="card" style="width: 14rem;">

  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/4426/4426421.png" class="card-img-top" alt="Imagem aleatória">
  </a>
  <div class="card-body">
    <h5 class="card-title">Empregador</h5>
    <p class="card-text">Crie um empregador</p>
    <%= link_to 'Empregador',  empregadors_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/8083/8083215.png" class="card-img-top" alt="Imagem aleatória">
</a>
  <div class="card-body">
    <h5 class="card-title">Vagas de Empregos</h5>
    <p class="card-text">Cadastre uma vaga de emprego</p>
    <%= link_to 'Vaga de Empregos',  vaga_de_empregos_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/5471/5471077.png" class="card-img-top" alt="Imagem aleatória">
  </a>
  <div class="card-body">
    <h5 class="card-title">Entrevistador</h5>
    <p class="card-text">Cadastre um Entrevistador</p>
    <%= link_to 'Entrevistador',  entrevistadors_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/2427/2427488.png" class="card-img-top" alt="Imagem aleatória">
  </a>
  <div class="card-body">
    <h5 class="card-title">Curriculo</h5>
    <p class="card-text">Vizualize, edita e remova um currículo cadastrado </p>
    <%= link_to 'Currículo',  curriculos_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/8347/8347471.png" class="card-img-top" alt="Imagem aleatória">
  </a>
  <div class="card-body">
    <h5 class="card-title">Candidatura</h5>
    <p class="card-text">Se candidate a uma vaga de emprego </p>
    <%= link_to 'Candidaturas',  candidaturas_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>





</body>
</html>
