<div id="<%= dom_id entrevistador %>">
  <p>
    <strong>Nome:</strong>
    <%= entrevistador.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= entrevistador.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= entrevistador.telefone %>
  </p>

  <p>
    <strong>Vaga de empregos:</strong>
    <%= entrevistador.vaga_de_empregos_id %>
  </p>

</div>
