<p style="color: green"><%= notice %></p>

<h1>Entrevistadors</h1>

<%= link_to "Voltar para a página inicial", root_path%>

<div id="entrevistadors">
  <% @entrevistadors.each do |entrevistador| %>
    <%= render entrevistador %>
    <p>
      <%= link_to "Show this entrevistador", entrevistador %>
    </p>
  <% end %>
</div>

<%= link_to "New entrevistador", new_entrevistador_path, class: "btn btn-primary btn-lg float-right" %>
