<p style="color: green"><%= notice %></p>

<%= render @entrevistador %>

<div>
  <%= link_to "Edit this entrevistador", edit_entrevistador_path(@entrevistador) %> |
  <%= link_to "Back to entrevistadors", entrevistadors_path %>

  <%= button_to "Destroy this entrevistador", @entrevistador, method: :delete %>
</div>
