<p style="color: green"><%= notice %></p>

<%= render @empregador %>

<div>
  <%= link_to "Edit this empregador", edit_empregador_path(@empregador) %> |
  <%= link_to "Back to empregadors", empregadors_path %>

  <%= button_to "Destroy this empregador", @empregador, method: :delete %>
</div>
