<div id="<%= dom_id curriculo %>">
  <p>
    <strong>Nome:</strong>
    <%= curriculo.nome %>
  </p>

  <p>
    <strong>Objetivo:</strong>
    <%= curriculo.objetivo %>
  </p>

  <p>
    <strong>Experiencia profissional:</strong>
    <%= curriculo.experiencia_profissional %>
  </p>

  <p>
    <strong>Formacao academica:</strong>
    <%= curriculo.formacao_academica %>
  </p>

  <p>
    <strong>Habilidades:</strong>
    <%= curriculo.habilidades %>
  </p>

  <p>
    <strong>Candidato:</strong>
    <%= curriculo.candidato_id %>
  </p>

</div>
