<p style="color: green"><%= notice %></p>

<h1>Curriculos</h1>

<%= link_to "Voltar para a página inicial", root_path %>

<div id="curriculos">
  <% @curriculos.each do |curriculo| %>
    <%= render curriculo %>
    <p>
      <%= link_to "Show this curriculo", curriculo %>
    </p>
  <% end %>
</div>

<%= link_to "New curriculo", new_curriculo_path, class: "btn btn-primary btn-lg float-left" %>
