<p style="color: green"><%= notice %></p>

<%= render @candidato %>
<div>
  <h2>Currículo</h2>
</div>
<%= render @curriculo %>


<div>
  <%= link_to "Edit this candidato", edit_candidato_path(@candidato) %> |
  <%= link_to "Back to candidatos", candidatos_path %>

  <%= button_to "Destroy this candidato", @candidato, method: :delete %>

  <%= link_to 'Currículo',  curriculos_path %> |
  <%= link_to 'Vagas Disponíveis',  vaga_de_empregos_path %> |
  <%= link_to 'Nova Candidatura', new_candidatura_path%>




</div>
